<div class="bg-white px-4 py-4 shadow hover:shadow-xl w-64 mt-4 ml-4 cursor-pointer">
    <img class="object-contain rounded shadow-inner" src="https://images.unsplash.com/photo-1459262838948-3e2de6c1ec80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt=""></img>
    <div class="meta mt-2">
        <div">
                <span class="pill tracking-wide inline-block px-2 py-1 uppercase text-xs font-extrabold bg-green-200 text-green-800 rounded">
                    plus
                </span>
                <span class="inline-block px-1 py-1 uppercase text-xs font-bold text-gray-600">
                    2 beds. 2 baths
                </span>
        </div">
        <h2 class="py-1 leading-tight">Le Meridian</h2>
        <h1 class="font-semibold">
            $12.33
            <span class="inline-block text-sm font-bold text-gray-500">
                / night
            </span>
        </h1>
        <div class="rated">
            <span class="inline-flex py-2">
                <svg class="fill-current inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                <svg class="fill-current inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                <svg class="fill-current inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                <svg class="fill-current text-teal-500 inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                <span class="ml-1 text-xs text-gray-600">(24 reviews)</span>
            </span>
        </div>
    </div>
</div>