<header class="">
    <nav class="flex container mx-auto px-4 py-4">
        <h1 class="flex-1 text-4xl">Staey</h1>
        <div class="flex-1 text-right">
            <ul class="inline-flex pt-4">
                <li class="mr-4">
                    <a class="no-underline px-2 py-2 bg-orange-200 text-red-600 rounded-b-lg rounded-t-lg cursor-pointer">
                        Become a Host
                    </a>
                </li>
                <li class="mr-4"><a>Sign In</a> / <a>Sign Up</a></li>
            </ul>
        </div>
    </nav>
</header>